ul{
    color: red;
    font-size: 30px;
    text-align: center;
}
#a{
    background-color: blue;
    border-color: #efff1c;
    border-radius: 48%;
    border: solid;

}
.ab{
    background-color: red;
    padding: 50px 50px 50px 50px;
    font-family: "Times New Roman";
}